<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./stylesheets/main.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <div>
      <ul>
        <li><a href="./sign-in-1-1">sign-in-1-1</a></li>
        <li><a href="./password-recovery">password-recovery</a></li>
        <li><a href="./password-recovery-2">password-recovery-2</a></li>
        <li><a href="./password-recovery-3">password-recovery-3</a></li>
        <li><a href="./sign-up-1">sign-up-1</a></li>
        <li><a href="./sign-up-2">sign-up-2</a></li>
        <li><a href="./sign-up-3">sign-up-3</a></li>
        <li><a href="./sign-up-4">sign-up-4</a></li>
        <li><a href="./sign-up-5">sign-up-5</a></li>
        <li><a href="./sign-up-6">sign-up-6</a></li>
        <li><a href="./profile-personal">profile-personal</a></li>
        <li><a href="./profile-account">profile-account</a></li>
        <li><a href="./search-results">search-results</a></li>
        <li><a href="./search-results-map">search-results-map</a></li>
        <li><a href="./admin-manage-fixers">admin-manage-fixers</a></li>
      </ul>
    </div>
  </body>
</html>
