<nav class="navigation">
  <div class="navigation__logo">
    <img src="./images/logo-mini.svg" alt="logo" />
  </div>
  <div class="navigation__pages">
    <ul>
      <li class="pages-active">
        <a href="./search-results"
          ><img src="/images/Nav-icon-search-active.svg" alt="search"
        /></a>
      </li>
      <li>
        <a href="./profile-personal"
          ><img src="/images/Nav-icon-profile.svg" alt="profile"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="/images/icon-nav-messages.svg" alt="messages"
        /></a>
      </li>
      <li>
        <a href="#"
          ><img src="/images/icon-nav-calendar.svg" alt="calendar"
        /></a>
      </li>
    </ul>
  </div>
</nav>
