{% extends '_base.html' %} {% block content %} {% include '_header1.html' %}
<main class="main">
  <form class="form">
    <div class="form__content">
      <h1 class="content__title">Reset your password</h1>
      <div class="content__inputs-block">
        <input
          class="content__input"
          type="password"
          placeholder="New password"
        />
        <input
          class="content__input"
          type="password"
          placeholder="Confirm password"
        />
      </div>
      <button class="btn">Reset</button>
    </div>
  </form>
</main>
{% endblock %}
