@mixin button {
  cursor: pointer;
  width: 190px;
  height: 45px;
  background-color: #0ad69c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-family: 'Exo 2';
  letter-spacing: 0.4px;
  outline: none;
  &:hover {
    background-color: #2ea181;
  }
  &:active {
    background-color: #038b66;
  }
}
