.header__manage {
  border: 1px solid #dae4f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 120px 25px 120px;
}

.header__breadcrumbs {
  ul {
    display: flex;
    li {
      padding-right: 10px;
      a {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.69px;
        color: #252f48;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.header__profile-dropdown {
  ul {
    li {
      a {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        letter-spacing: 0.28px;
        color: #252f48;
        &:hover {
          text-decoration: underline;
        }
        img {
          padding-left: 10px;
        }
      }
    }
  }
}

@media screen and(max-width: 600px) {
  .header__manage {
    padding: 25px 70px 25px 70px;
  }
  .header__breadcrumbs {
    ul {
      li {
        padding-right: 5px;
        a {
          font-size: 11px;
        }
      }
    }
  }
  .header__profile-dropdown {
    ul {
      li {
        a {
          font-size: 12px;
          img {
            padding-left: 5px;
          }
        }
      }
    }
  }
}
