@import './mixins/_title';

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding-top: 170px;
}

.ellipse {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('./../images/newellipse.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.main__title {
  @include title;
  color: #2a74db;
  font-size: 58px;
  padding-top: 30px;
}

.main__message {
  font-size: 24px;
  font-family: 'Exo 2';
  font-weight: 300;
  letter-spacing: 0.4px;
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  .main__title {
    font-size: 28px;
  }
  .main__message {
    font-size: 16px;
  }
}
