@import './mixins/button';
@import './mixins/dropdown';

.section-results {
  display: flex;
  //   justify-content: center;
  margin-left: 120px;
  background-color: #fff;
  border: 1px solid black;
}
.section__search-param {
  //   width: 250px;
  padding-left: 50px;
  padding-top: 30px;
}

.section__search-results {
  //   width: 800px;
}

.btn {
  @include button;
  font-family: 'Roboto';
  font-size: 14px;
  width: 250px;
  //   margin: 0 auto;
  //   margin-right: 50px;
}

.input-change-el-calendar {
  @include dropdown;
  width: 250px;
}

.results-top {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.results-title {
  color: #01134e;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.card-col {
  display: flex;
  flex-direction: column;
}

.results-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 420px;
  min-height: 400px;
  padding-left: 20px;
  padding-top: 30px;
  overflow-y: auto;
}

.card-about {
}

.card-photo {
  img {
    padding-right: 15px;
  }
}

.card-card {
  border: 1px solid rgba(237, 237, 237, 0.2);
  box-shadow: -2px 9px 30px rgba(23, 31, 76, 0.02);
  border-radius: 2px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 130px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.about-name {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.05px;
    color: #000;
  }
  img {
    padding-left: 5px;
  }
}

.about-place {
  display: flex;
  padding-bottom: 5px;
  p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.05px;
  }
  img {
    padding-right: 5px;
  }
}

.about-stack {
  p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.05px;
    padding-bottom: 5px;
    color: #01134e;
  }
  a {
    padding-left: 5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.05px;
    color: #2a74db;
    &:hover {
      text-decoration: underline;
    }
  }
}

.about-rate {
  p {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 12px;
    letter-spacing: -0.05px;
    padding-bottom: 5px;
    color: #01134e;
  }
}
