.content__input-name {
  @include input;
  width: 190px;
  &:first-child {
    margin-right: 16px;
  }
  margin-bottom: 20px;
}

.content__input {
  margin-bottom: 20px;
  &:first-child {
    margin-bottom: 20px;
  }
}

.content__input-name::placeholder {
  color: #8790a7;
  font-family: 'Roboto';
}
